<div class="container">
  <div class="card-deck">
    <div *ngFor="let item of items; let i = index" class="card m-4">
      <img class="card-img-top" src="..." alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{ items[i].title }}</h5>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-info">
            {{ items[i].start_datetime | date: "d MMM yy" }}<br />
            {{ items[i].start_datetime | date: "h:mm" }}{{ " "
            }}{{ items[i].timezone }}
            <!-- {{ items[i].start_datetime | date: "EEE" }}<br /> -->
            <!-- {{ items[i].start_datetime | date: "d MMM yy EEE" }} -->
          </button>
          <button type="button" class="btn btn-outline-info">
            {{ items[i].end_datetime | date: "d MMM yy" }}<br />
            {{ items[i].end_datetime | date: "h:mm" }}{{ " "
            }}{{ items[i].timezone }}
            <!-- {{ items[i].end_datetime | date: "EEE" }} -->
          </button>
        </div>

        <p class="card-text">
          {{ items[i].description_short }}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
