<div class="container">
  <div class="card-deck">
    <div *ngFor="let item of events; let i = index" class="card m-4">
      <img
        class="card-img-top"
        src="{{ events[i].mediumImage }}"
        alt="{{ events[i].title }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ events[i].title }}</h5>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-info">
            {{ events[i].startTime | date: "d MMM yy" }}<br />
            {{ events[i].startTime | date: "h:mm" }}{{ " "
            }}{{ events[i].timezone }}
          </button>
        </div>

        <p class="card-text">
          {{ events[i].description }}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
